<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="titulo">Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="normal" routerLink="/home" color="tertiary">Volver a Inicio</ion-button>
  <h1 class="subtitulo">Ingresa tu correo para enviarte una contraseña</h1>
  <form>
    <ion-item>
      <ion-label class="normal" position="floating">Email:</ion-label>
    <ion-input class="normal" type="text" required></ion-input>
    </ion-item>
    <ion-button class="normal" color="tertiary" expand="block">Enviar</ion-button>
  
  </form>
</ion-content>
